[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
streamlit = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
openai = "*"
langchain-openai = "*"
beautifulsoup4 = "*"
youtube-transcript-api = "*"
pytube = "*"
pypdf2 = "*"
qdrant-client = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
00 = "streamlit run 00_my_first_app.py"
03 = "streamlit run 03_ai_chat_app.py"
04 = "streamlit run 04_ai_chat_app.py"
06 = "streamlit run 06_web_summarizer_app.py"
07 = "streamlit run 07_youtube_summarizer_app.py"
08 = "streamlit run 08_long_youtube_summarizer_app.py"
09 = "streamlit run 09_pdf_upload_app.py"
10 = "streamlit run 10_pdf_upload_qa_app.py"
