[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
streamlit = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
openai = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
00 = "streamlit run 00_my_first_app.py"
03 = "streamlit run 03_ai_chat_app.py"
04 = "streamlit run 04_ai_chat_app.py"